<div class="needEndHide" id="nav-music" onclick="B612.musicToggle()">
    <!-- 音乐暂停时的悬停提示 -->
    <div id="nav-music-hoverTips">
        <%= __('musicPaused') %>
    </div>
    <meting-js id="<%= theme.thirdparty.aplayer.id %>" server="<%= theme.thirdparty.aplayer.server %>" type="playlist"
        mutex="true" preload="none" data-lrctype="0" order="random" theme="var(--heo-main)"></meting-js>
</div>