<!-- 页面标题 -->
<h1 class="page-title"><%= __('page.category') %></h1>
<!-- 遍历每个分类数据，显示分类名和数量 -->
<div class="category-lists">
    <div class="tag-cloud-list is-center">
        <% site.categories.data.forEach(data => { %>
            <a href="<%= url_for(data.path) %>">
                <!-- <span class="tags-punctuation">#</span> -->
                <%= data.name %>
                <span class="tagsPageCount"><%= data.length %></span>
            </a>
        <% }) %>
    </div>
</div>